.topPanelEpisodes {
    margin-top: 70px;
}
.hero {
    margin: 20px auto 20px;
    display: block;
}
.filters {
    display: flex;
    justify-content: center;
}
#nameFilter {
    background-image: url('../../assets/icons/Vector.svg');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
    min-width: 326px;
    padding: 35px;
    box-sizing: inherit;
}

